<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Candidato - Crear</h1>
    </div>
    <div class="form">
        <div class="form__select">
            <h2>Partido politico</h2>
            <div class="container__select">
                <div class="container-select-arrow">
                    <select [(ngModel)]="id_party" class="select">
                        <option *ngFor="let party of parties" value="{{party._id}}">{{party.name}}</option>
                    </select>
                    <span class="select-arrow"></span>
                </div>
            </div>
        </div>
        <div class="form__section-1">
            <h2>N° resolución</h2>
            <input type="number" class="form__section-input" [(ngModel)]="resolutionNumber">
        </div>
        <div class="form__section-2">
            <h2>Cédula</h2>
            <input type="number" class="form__section-input" [(ngModel)]="idCard">
        </div>
        <div class="form__section-3">
            <h2>Nombres</h2>
            <input type="text" class="form__section-input" [(ngModel)]="name">
        </div>
        <div class="form__section-4">
            <h2>Apellidos</h2>
            <input type="text" class="form__section-input" [(ngModel)]="lastname">
        </div>
        <div class="form__submit">
            <input type="submit" class="form__section-submit" value="Agregar" (click)="createCandidate()">
            <input type="submit" class="form__section-submit" value="Cancelar" >
        </div>
    </div>
</div>