<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Candidatos</h1>
    </div>
    <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="isLoading"></mat-progress-bar>
    <div class="container__table" *ngIf="!isLoading">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Partido</th>
                    <th>N° resolucion</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let candidate of candidates" >
                    <th>{{candidate.party?.name}}</th>
                    <th>{{candidate.resolutionNumber}}</th>
                    <th>{{candidate.idCard}}</th>
                    <th>{{candidate.name}}</th>
                    <th>{{candidate.lastname}}</th>
                    <th>
                        <button class="table-button">
                            <img src="assets/images/editar.png" alt="" (click)="update(candidate._id)">
                        </button>
                        <button class="table-button">
                            <img src="assets/images/trash.png" alt="" (click)="delete(candidate._id)">
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>