<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Usuarios</h1>
    </div>
    <div class="container__table">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let user of users">
                    <th>{{user.pseudonym}}</th>
                    <th>{{user.email}}</th>
                    <th>
                        <button class="table-button">
                            <img src="assets/images/editar.png" alt="">
                        </button>
                        <button class="table-button">
                            <img src="assets/images/trash.png" alt="">
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>