<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Rol - Editar</h1>
    </div>
    <div class="container__forms">
        <div class="form-1">
            <div class="form-1-input">
                <h2>Nombre</h2>
                <input type="text">
            </div>
            <div class="form-submit">
                <input type="submit" value="Crear">
            </div>
        </div>
        <div class="form-2">
            <h2 class="h2">Permisos actuales</h2>
            <div class="container__select">
                <div class="container-select-arrow">
                    <select name="" id="" class="select">
                        <option value="">Permisos actuales</option>
                        <option value="">Permiso 1</option>
                        <option value="">Permiso 2</option>
                    </select>
                    <span class="select-arrow"></span>
                </div>
            </div>
            <div class="form-submit">
                <input type="submit" value="Eliminar">
            </div>
        </div>
        <div class="form-3">
            <h2 class="h2">Otros permisos</h2>
            <div class="container__select">
                <div class="container-select-arrow">
                    <select name="" id="" class="select">
                        <option value="">Permisos</option>
                        <option value="">Permiso 1</option>
                        <option value="">Permiso 2</option>
                    </select>
                    <span class="select-arrow"></span>
                </div>
            </div>
            <div class="form-submit">
                <input type="submit" value="Añadir">
            </div>
        </div>
    </div>
</div>