<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Roles</h1>
    </div>
    <div class="container__table">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <th>Id 1</th>
                    <th>Nombre 1</th>
                    <th>
                        <button class="table-button">
                            <img src="assets/images/editar.png" alt="">
                        </button>
                        <button class="table-button">
                            <img src="assets/images/trash.png" alt="">
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>