<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Crear partido</h1>
    </div>
    <div class="form">
        <div class="form__section-1">
            <h2>Nombre</h2>
            <input type="text">
        </div>
        <div class="form__section-2">
            <h2>Lema</h2>
            <input type="text">
        </div>
        <div class="form__submit">
            <input type="submit" value="Agregar">
            <input type="submit" value="Cancelar">
        </div>
    </div>
</div>