<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Permisos</h1>
    </div>
    <div class="container__table">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Url</th>
                    <th>Metodo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <th>https://127.0.0.1/user</th>
                    <th>GET</th>
                    <th>
                        <button class="table-button">
                            <img src="assets/images/editar.png" alt="">
                        </button>
                        <button class="table-button">
                            <img src="assets/images/trash.png" alt="">
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>