<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Mesas</h1>
    </div>
    <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="isLoading"></mat-progress-bar>
    <div class="container__table" *ngIf="!isLoading">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Número de mesa</th>
                    <th>Cedulas registradas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let table of tables">
                    <th>{{table._id}}</th>
                    <th>{{table.numberIds}}</th>
                    <th>
                        <button class="table-button">
                            <img src="assets/images/editar.png" alt="" (click)="update(table._id)">
                        </button>
                        <button class="table-button">
                            <img src="assets/images/trash.png" alt="" (click)="delete(table._id)">
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>