<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Usuarios - Crear</h1>
    </div>
    
    <div class="form">
        <div class="form-input-1">
            <h2>Nombre de usuario</h2>
            <input type="text" class="form-input">
        </div>
        <div class="form-input-2">
            <h2>Correo</h2>
            <input type="email" class="form-input">
        </div>
        <div class="form-input-3">
            <h2>Contraseña</h2>
            <input type="password" class="form-input">
        </div>
        <div class="form-input-4">
            <h2 class="h2">Rol</h2>
            <div class="container__select">
                <div class="container-select-arrow">
                    <select name="" id="" class="select">
                        <option value="">Seleccione un rol</option>
                        <option value="">Rol 1</option>
                        <option value="">Rol 2</option>
                    </select>
                    <span class="select-arrow"></span>
                </div>
            </div>
        </div>
        <div class="form-submit">
            <input type="submit" value="Guardar">
            <input type="submit" value="Cancelar">
        </div>
    </div>
</div>