<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Candidatos</h1>
    </div>
    <div class="container__select">
        <div class="container-select-arrow">
            <select name="" class="select">
                <option *ngFor="let party of parties" >{{party.name}}</option>
            </select>
            <span class="select-arrow"></span>
        </div>
    </div>
    <div class="container-search-bar">
        <input type="text" placeholder="Nombre del candidato">
        <img src="assets/images/search.png" alt="search">
    </div>
    <div class="container__table">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Partido</th>
                    <th>N° resolucion</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let candidate of candidates" >
                    <th>{{candidate.party?.name}}</th>
                    <th>{{candidate.resolutionNumber}}</th>
                    <th>{{candidate.idCard}}</th>
                    <th>{{candidate.name}}</th>
                    <th>{{candidate.lastname}}</th>
                    <th>
                        <a class="table-button" href="candidate/update/{{candidate._id}}"><img src="assets/images/editar.png" alt=""></a>
                        <button class="table-button">
                            <img src="assets/images/trash.png" alt="">
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>