<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Candidatos</h1>
    </div>
    <div class="container__select">
        <div class="container-select-arrow">
            <select name="" id="" class="select">
                <option value="">Todas los partidos</option>
                <option value="">Partido 1</option>
                <option value="">Partido 2</option>
            </select>
            <span class="select-arrow"></span>
        </div>
    </div>
    <div class="container-search-bar">
        <input type="text" placeholder="Nombre del candidato">
        <img src="assets/images/search.png" alt="search">
    </div>
    <div class="container__table">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Partido</th>
                    <th>N° resolucion</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <th>Partido 1</th>
                    <th>Resolucion 1</th>
                    <th>Cedula 1</th>
                    <th>Nombre 1</th>
                    <th>Apellido 1</th>
                    <th>
                        <button class="table-button">
                            <img src="assets/images/editar.png" alt="">
                        </button>
                        <button class="table-button">
                            <img src="assets/images/trash.png" alt="">
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>