<header>
    <div class="nav">
        <div class="logo-nav">
            <img src="../assets/images/logo.png" alt="">
            <ul class="nav__ul">
                <li class="nav__ul-li">
                    <a href="report/votes">Reportes</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="report/votes">Votos</a></li>
                        <li><a href="report/tables">Mesas</a></li>
                        <li><a href="report/parties">Partidos</a></li>
                        <li><a href="report/percentages">Porcentajes</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li"><a href="login">Salir</a></li>
            </ul>
        </div>
    </div>
</header>