<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Usuarios</h1>
    </div>
    <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="isLoading"></mat-progress-bar>
    <div class="container__table" *ngIf="!isLoading">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let user of users">
                    <th>{{user.pseudonym}}</th>
                    <th>{{user.email}}</th>
                    <th>{{user.role?.name}}</th>
                    <th>
                        <button class="table-button">
                            <img src="assets/images/editar.png" alt="" (click)="update(user._id)">
                        </button>
                        <button class="table-button">
                            <img src="assets/images/trash.png" alt="" (click)="delete(user._id)">
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>