<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Rol - Editar</h1>
    </div>
    <div class="container__forms">
        <div class="form-1">
            <div class="form-1-input">
                <h2>Nombre</h2>
                <input type="text" [(ngModel)]="name">
            </div>
            <div class="form-1-input">
                <h2>Descripcion</h2>
                <input type="text" [(ngModel)]="description">
            </div>
            <div class="form-submit">
                <input type="submit" value="Guardar" (click)="updateRole()">
            </div>
        </div>
    </div>
    <div class="form-submit center">
        <input type="submit" value="Cancelar" routerLink="/pages/roles/role">
    </div>
</div>