<header>
    <div class="nav">
        <div class="logo-nav">
            <img src="../assets/images/logo.png" alt="">
            <ul class="nav__ul">
                <li class="nav__ul-li">
                    <a href="/pages/users/user">Usuarios</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="/pages/users/create">Crear</a></li>
                        <li><a href="/pages/users/user">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="/pages/roles/role">Roles</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="/pages/roles/create">Crear</a></li>
                        <li><a href="/pages/roles/role">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="/pages/permissions/permission">Permisos</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="/pages/permissions/create">Crear</a></li>
                        <li><a href="/pages/permissions/permission">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="/pages/tables/table">Mesas</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="/pages/tables/create">Crear</a></li>
                        <li><a href="/pages/tables/table">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="/pages/parties/party">Partidos</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="/pages/parties/create">Crear</a></li>
                        <li><a href="/pages/parties/party">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="/pages/candidates/candidate">Candidatos</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="/pages/candidates/create">Crear</a></li>
                        <li><a href="/pages/candidates/candidate">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="/pages/results/result">Resultados</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="/pages/results/register">Registrar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="/pages/reports/votes">Reportes</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="/pages/reports/votes">Votos</a></li>
                        <li><a href="/pages/reports/tables">Mesas</a></li>
                        <li><a href="/pages/reports/parties">Partidos</a></li>
                        <li><a href="/pages/reports/percentages">Porcentajes</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a>Mi cuenta</a>
                    <ul class="nav__ul-submenu">
                        <li><a routerLink="#">{{pseudonym}}</a></li>
                        <li><a routerLink="#">{{email}}</a></li>
                        <li><a routerLink="#">{{role_name}}</a></li>
                        <li><a routerLink="/security/login" (click)="logout()">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>