<header>
    <div class="nav">
        <div class="logo-nav">
            <img src="../assets/images/logo.png" alt="">
            <ul class="nav__ul">
                <li class="nav__ul-li">
                    <a href="user">Usuarios</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="user/create">Crear</a></li>
                        <li><a href="user">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="role">Roles</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="role/create">Crear</a></li>
                        <li><a href="role/update">Editar</a></li>
                        <li><a href="role">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="permission">Permisos</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="permission/create">Crear</a></li>
                        <li><a href="permission">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="table">Mesas</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="table/create">Crear</a></li>
                        <li><a href="table">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="party">Partidos</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="party/create">Crear</a></li>
                        <li><a href="party">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="candidate">Candidatos</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="candidate/create">Crear</a></li>
                        <li><a href="candidate">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="result">Resultados</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="result/register">Registrar</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li">
                    <a href="report/votes">Reportes</a>
                    <ul class="nav__ul-submenu">
                        <li><a href="report/votes">Votos</a></li>
                        <li><a href="report/tables">Mesas</a></li>
                        <li><a href="report/parties">Partidos</a></li>
                        <li><a href="report/percentages">Porcentajes</a></li>
                    </ul>
                </li>
                <li class="nav__ul-li"><a href="login" (click)="logout()">Salir</a></li>
            </ul>
        </div>
    </div>
</header>