<div class="container">
    <div class="container__title">
        <h1 class="h1-semibold">Roles</h1>
    </div>
    <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="isLoading"></mat-progress-bar>
    <div class="container__table" *ngIf="!isLoading">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let role of roles">
                    <th>{{role.name}}</th>
                    <th>{{role.description}}</th>
                    <th>
                        <button class="table-button">
                            <img src="assets/images/editar.png" alt="" (click)="update(role._id)">
                        </button>
                        <button class="table-button">
                            <img src="assets/images/trash.png" alt="" (click)="delete(role._id)">
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>